{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table tablestriped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Order</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% if transaction_records %}
            {% for t_record in transaction_records %}
            <tr>
                <td class="text-start">{{ t_record["symbol"] }}</td>
                <td class="text-start">{{ t_record["action"] }}</td>
                <td class="text-end">{{ t_record["shares"] | int | abs }}</td>
                <td class="text-end">{{ t_record["price"] | usd }}</td>
                <td class="text-end">{{ t_record["t_time"] }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
    <!-- まだ何も株を買っていないとき -->
    {% if message %}
        <h2 class="message">{{ message }}</h2>
    {% endif %}
{% endblock %}
