{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    {% if quote %}
        <p>A share of {{ quote["name"] }} costs {{ quote["price"] | usd }}</p>
    {% endif %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
