{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/sell" method="post">
        <select name="company">
            <option disabled selected value="">--Please choose a company--</option>
            {% for company in companys %}
            <option value="{{ company['symbol'] }}">{{ company['symbol'] }}: {{ company['name'] }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
